body {
    margin: 0;
    overflow-x: hidden;
}

.homebg {
    background-image: url(/src/assets/background-stars.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: glitter 5s infinite ease-in-out alternate;
}

/* @keyframes glitter {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
} */
