body {
    margin: 0;
    overflow-x: hidden;
}

.homebg {
    background-image: url('/src/assets/background-stars.svg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    animation: glitter 15s infinite ease-in-out alternate;
}

@keyframes glitter {
    0% {
        background-size: 100%;
    }
    50% {
        background-size: 170%;
    }
    100% {
        background-size: 100%;
    }
}
